<p id="notice"><%= notice %></p>

<div class="page-header">
  <%= link_to 'New Product', new_product_path, :class=>"btn btn-success pull-right" %>
  <h3>All Products</h3>
</div>


<% @products.each do |product|%>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
      <h2><%= product.name %> </h2>
      <img class-"img-responsive" src=<%= asset_path product.featImage %>/>
      <p><%= product.description %></p>
      <h4>$<%= product.price %></h4>
      <%= link_to 'Show', product, :class=>"btn btn-primary"%>
    </div>
  </div>
<% end %>
